/*Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Reenie+Beanie&display=swap');
@import "tailwindcss";

/*Dark mode*/
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/*Responsividade*/
@media screen and (min-width: 300px) and (max-width: 768px) {
    body{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    main{
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    footer{
        font-size: 0.875rem;
        width: 10%;
        margin-top: 3rem;
    }

    .menu-container{
        display: none !important;
    }

    #titulo a{
        font-size: 1.75rem;
    }

    li {
        display: none;
    }
    
    .home-container{
        padding: 1rem;

        & h1{
            font-size: 0.5rem;
            text-align: center;
        }
    }

    .home-content{
        width: 100%;

        & h1{
            font-size: 1.5rem;
            line-height: 1.875rem;
        }

        & .botao{
            width: 80%;
        }

        & img{
            width: 80%;
        }
    }


    .about-container{
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-top: 3rem;

        & h1{
            font-size: 1.5rem;
            line-height: 2rem;
        }
    }

    .contact-content{
        width: 100%;

        & h4{
            font-size: 1.5rem;
            line-height: 2rem;
        }

        & p{
            margin: 1rem;
        }
    }

    #about{
        padding: 0 1rem;

        & img{
            display: none;
        }
    }

    #contact{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        padding: 0 0;

        & form{
            width: 100%;
        }
    }
}

/*Variaveis para utilização*/
:root{
    --purple-200: #9a7bd1;
    --purple-500: #6b36c8;
    --purple-800: #441f88;
 
    --gray-200: #cccccc;
    --gray-400: #505861;
 
    --black-800: #171717;
 
    --white: #F9F9F9;
}

/*Header*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-weight: 400;
    font-family: "Poppins", serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


body {
    background-color: var(--gray-200);
    color: var(--black-800);
}


button, a{
    cursor: pointer;
}

.botao{
    text-align: center;
    padding: 12px 32px;
    margin-top: 1rem;
    background-color: #171717;
    border-radius: 10px;
    color: var(--white);
    font-weight: 700;
    transition: background-color 0.5s ease;

    &:hover{
        background-color: var(--purple-800);
        color: var(--white);
    }

    &:focus {
        outline: none;
    }    
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Menu*/
.menu-container {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    background:rgba(0, 0, 0, 1);
    filter: opacity(0.9);

    & a {
        color: var(--white);
        font-weight: 500;
    }

    & ul {
        list-style: none;
        text-align: center; 
    }

    & a:hover{
        color: var(--purple-200);
        
    }

    & li {
        margin-left: 1rem;
    }
}

.menu-content{
    width: 100%;
    display: flex;
    justify-content: space-around;

}

/*Home*/
#home {
    background: 
    linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3)),
    url(https://ik.imagekit.io/emy/Backgrounds/bg2.avif?updatedAt=1739659702448);
    color: whitesmoke;
    background-attachment: fixed;
    background-size: cover;

    & h1{
        font-size: 7.5rem;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);


    }
}

.home-container{
    gap: 20px;
    height: 100vh;

    & p{
        padding: 20px;
        font-size: 1rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    & h1{
        font-size: 5rem;
        text-align: center;
        line-height: 3rem;
        font-family: "Reenie Beanie", serif;
    }

    & h4{
        font-weight: 700;
        font-size: 1rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    & botao{
        width: 40%;
    }
}

.home-content{
    flex-direction: column;
    align-items: center;
}

#home-img{
    max-width: 500px;
    margin-bottom: 1rem;
}

/*About*/

.about-container{
    max-width: 1120px;
    margin: 16px auto;
    height: calc(80vh - 100px);


    & img{
        display: flex;
        width: 65%;
    }

    & p{
        margin: 1rem 0;
        text-align: justify;
    } 
}

.about-content{
    max-width: 11200px;
    padding: 0 24px;
    width: 100%;

    & p{
        margin: 1rem 0;
    }
}

#about-img{
    max-width: 600px;
    margin-right: 24px;
    
    & img{
        border-radius: 0 20px;
        border: #818181 solid 2px;
    }
}

#about-txt {
    & p{
        margin-top: 2rem;
        display: flex;
        gap: 12px;
    }
    
    & img{
        width: 20px;
        }
    

    & h1{
        font-weight: 600;
        font-size: 2rem;
    }
}

/*Contact*/
.contact-container{
    height: calc(100vh - 80px);
    padding: 2rem;

    & p{
        margin: 1rem 0;
        text-align: justify;
    }
}

.contact-content{
    padding: 50px;
    width: 100%;
    text-align: center;

    & h4{
        font-size: 2rem;
        line-height: 3rem;
        font-weight: 700;
    }
    
    & p{
        margin: 1rem 0;
    }
    
    & img{
        width: 3rem;
    
    }
}

#contact{
    background: 
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),
    url(https://ik.imagekit.io/emy/Backgrounds/bg2.avif?updatedAt=1739659702448);
    background-attachment: fixed;
    background-size: cover;
    color: var(--white);

    & button{
        background-color: #19073a;
        color: var(--white);
        padding: 10px 20px;
        border-radius: 20px;
        cursor: pointer;
    }

}

/*Forms*/
form {
    background-color: #171717;
    padding: 20px;
    width: 40%;
    text-align: justify;
    border-radius: 5px;
    display: flex;
    flex-direction:column;
    gap: 8px;
    transition: background-color 0.5s ease;
    
    &:hover {
        background-color: #222222;
    }
    
    & label {
        color: #c0c0c0;
        font-weight: 700;
    }
    
    & input, & textarea {
        padding: 5px;
        border: none;
        border-radius: 3px;
        color: #171717;
    }

    & input[type="submit"] {
        background-color: var(--purple-800);
        color: var(--white);
        font-weight: 700;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
    }
}

/*Footer*/
footer {
    background-color: rgba(0, 0, 0, 1);
    padding: 20px;
    text-align: center;
    color: var(--white);
    font-weight: 700;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid var(--purple-500);
}

#sucess-txt, div{
    text-align: center;

    & p{
        margin-bottom: 1rem;
    }
}



#icons {
    & img {
        filter: invert(100%);
      }
    
    & a:hover {
        margin-right: 20px;
        color:#1c0447;
        cursor: pointer;
        transition: color 0.5s ease;
        transform: scale(1.1);

    }
}
